<a href="https://colab.research.google.com/github/Camolas/Overleaf/blob/main/pyhton28ABRIL21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Boa tarde! Vamos começar a demonstração!

# teste

In [ ]:
n = 1

adas

# Introdução

In [ ]:
nome = 12
type(nome)

int

In [ ]:
a = 5
b = 2
c = a/b
print(c, end=" ")
d = a ** 3
print(d)
print("d:",d, "c:",c)

2.5 125
d: 125 c: 2.5

In [ ]:
import math as batata

In [ ]:
print(max(1,2,3))
print (batata.sqrt(9))
print (batata.factorial(9))

3
3.0
362880

Instruções  condicionais

In [ ]:
idade = 17
if idade >= 18:
  print('Pode votar')
else:
  print ('Ainda não pode votar')

Ainda não pode votar

In [ ]:
idade = 17
if idade >= 18:
  print('Pode votar')
elif idade == 17:
  print('Falta pouco para votar')
else:
  print ('Ainda não pode votar')

Falta pouco para votar

Loops

In [ ]:
i = 0
while i < 5:
  print(i, end=" ")
  i += 2

0 2 4

In [ ]:
for i in range(6):
  print("i, i ao quadrado")
  print(i, end= ", ")
  print(i**2)

i, i ao quadrado
0, 0
i, i ao quadrado
1, 1
i, i ao quadrado
2, 4
i, i ao quadrado
3, 9
i, i ao quadrado
4, 16
i, i ao quadrado
5, 25

In [ ]:
vogais= 'aeiou'
for c in vogais:
  print(c, ord(c))

a 97
e 101
i 105
o 111
u 117

Funções

In [ ]:
def add (a,b):
  return a+b

print(add(1,2))

3

In [ ]:
def dobros (a,b):
  return 2*a, 2*b

x,y = dobros(1,2)
print(x)
print(y)

2
4

Listas

In [ ]:
nome1 = "Catarina"
nome2 = "Ana"
contacto = 989898989

listaNomes = [nome1, nome2, contacto]
print(listaNomes)

['Catarina', 'Ana', 989898989]

In [ ]:
listaNomes[0] = 9696969969
print(listaNomes)

[9696969969, 'Ana', 989898989]

In [ ]:
copiaLista = listaNomes #cópia mal feita (é só um alias)
print(copiaLista)

copiaLista [0]= "Joana"
print(listaNomes)
print(copiaLista)

[9696969969, 'Ana', 989898989]
['Joana', 'Ana', 989898989]
['Joana', 'Ana', 989898989]

In [ ]:
copiaVerdadeira = list(listaNomes)
print(listaNomes)
print(copiaLista)

copiaVerdadeira[2] = 919191919
print(listaNomes)
print(copiaLista)

['Joana', 'Ana', 989898989]
['Joana', 'Ana', 989898989]
['Joana', 'Ana', 989898989]
['Joana', 'Ana', 989898989]

In [ ]:
print(copiaVerdadeira)
print(id(listaNomes))
print(id(copiaLista))
print(id(copiaVerdadeira))

['Joana', 'Ana', 919191919]
139749342538320
139749342538320
139749343442496

In [ ]:
listaDeListas = [listaNomes, copiaVerdadeira, "teste"]
print(listaDeListas)
print(listaDeListas[1][2])

[['Joana', 'Ana', 989898989], ['Joana', 'Ana', 919191919], 'teste']
919191919

In [ ]:
listasJuntas = listaNomes + copiaVerdadeira
print(listasJuntas)
print(len(listasJuntas))

['Joana', 'Ana', 989898989, 'Joana', 'Ana', 919191919]
6

Dicionários

In [ ]:
dicio = {}
type(dicio)
dicio ["nome"] = "catarina"
dicio ["contacto"] = 919191910
print(dicio)
print(dicio["contacto"])
print(dicio.keys())

{'nome': 'catarina', 'contacto': 919191910}
919191910
dict_keys(['nome', 'contacto'])

# Machine Learning

MNIST

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
ls

sample_data/

In [ ]:
DF = pd.read_csv("sample_data/mnist_train_small.csv")

In [ ]:
type(DF)

pandas.core.frame.DataFrame

In [ ]:
DF.describe()

                  6        0      0.1  ...    0.588    0.589    0.590
count  19999.000000  19999.0  19999.0  ...  19999.0  19999.0  19999.0
mean       4.470124      0.0      0.0  ...      0.0      0.0      0.0
std        2.892807      0.0      0.0  ...      0.0      0.0      0.0
min        0.000000      0.0      0.0  ...      0.0      0.0      0.0
25%        2.000000      0.0      0.0  ...      0.0      0.0      0.0
50%        4.000000      0.0      0.0  ...      0.0      0.0      0.0
75%        7.000000      0.0      0.0  ...      0.0      0.0      0.0
max        9.000000      0.0      0.0  ...      0.0      0.0      0.0

[8 rows x 785 columns]

CHILE Dataset

In [ ]:
from google.colab import drive

drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
chile_file = "/content/drive/My Drive/ml/Chile.csv"
chileDF = pd.read_csv(chile_file)

In [ ]:
chileDF.describe()

        Unnamed: 0     population          age         income     statusquo
count  2700.000000    2700.000000  2699.000000    2602.000000  2.683000e+03
mean   1350.500000  152222.222222    38.548722   33875.864719 -1.118151e-08
std     779.567188  102198.039602    14.756415   39502.867120  1.000186e+00
min       1.000000    3750.000000    18.000000    2500.000000 -1.803010e+00
25%     675.750000   25000.000000    26.000000    7500.000000 -1.002235e+00
50%    1350.500000  175000.000000    36.000000   15000.000000 -4.558000e-02
75%    2025.250000  250000.000000    49.000000   35000.000000  9.685750e-01
max    2700.000000  250000.000000    70.000000  200000.000000  2.048590e+00

In [ ]:
chileDF['education'].value_counts()
chileDF['vote'].value_counts()

N    889
Y    868
U    588
A    187
Name: vote, dtype: int64

In [ ]:
chileDF.groupby(['vote']).mean()

       Unnamed: 0     population        age        income  statusquo
vote
A     1254.550802  159558.823529  34.374332  33184.357542  -0.189719
N     1347.465692  169919.853768  35.798650  37031.070196  -0.911061
U     1415.671769  152057.823129  40.364566  25683.035714   0.036050
Y     1284.578341  131900.921659  40.370968  36495.243757   0.942231

IRIS dataset

In [ ]:
iris_file='/content/drive/My Drive/ml/iris.csv'
DF3 = pd.read_csv(iris_file)

#DF3.describe()

DF3.groupby(['species']).mean()
DF3


data = DF3.iloc[:,:-1]
data


labels = DF3.iloc[:,-1]
labels

0      1
1      1
2      1
3      1
4      1
      ..
145    3
146    3
147    3
148    3
149    3
Name: species, Length: 150, dtype: int64

In [ ]:
DF3.groupby(['species']).mean()

         sepal_length  sepal_width  petal_length  petal_width
species
1               5.006        3.418         1.464        0.244
2               5.936        2.770         4.260        1.326
3               6.588        2.974         5.552        2.026

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(data, labels, test_size=0.3)

In [ ]:
classifier = RandomForestClassifier(n_estimators=100)

classifier.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [ ]:
y_pred = classifier.predict(X_test)
y_pred

array([2, 1, 1, 3, 3, 1, 3, 1, 3, 3, 1, 1, 2, 2, 1, 2, 1, 1, 1, 3, 2, 1,
       2, 2, 3, 1, 3, 1, 1, 3, 2, 1, 1, 3, 3, 1, 3, 2, 3, 3, 2, 2, 1, 1,
       1])

In [ ]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           1       1.00      1.00      1.00        20
           2       1.00      0.85      0.92        13
           3       0.86      1.00      0.92        12

    accuracy                           0.96        45
   macro avg       0.95      0.95      0.95        45
weighted avg       0.96      0.96      0.96        45

In [ ]:
knn = KNeighborsClassifier(n_neighbors = 3)
knn.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='uniform')

In [ ]:
y_pred = knn.predict(X_test)
y_pred

array([3, 1, 3, 1, 3, 2, 3, 2, 2, 1, 3, 1, 1, 3, 3, 1, 3, 3, 3, 2, 2, 2,
       3, 2, 3, 3, 2, 3, 2, 2, 2, 1, 3, 1, 1, 1, 1, 3, 1, 1, 3, 1, 1, 1,
       2])

In [ ]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           1       1.00      1.00      1.00        16
           2       1.00      0.86      0.92        14
           3       0.88      1.00      0.94        15

    accuracy                           0.96        45
   macro avg       0.96      0.95      0.95        45
weighted avg       0.96      0.96      0.96        45